<h3>Basket</h3>
<div *ngIf="cart.length >0">
  <p>All items you added have been displayed below, please click checkout to place an order.</p>

  <div class="table-responsive">
    <table class="table table-borderless">
      <caption>List of items added to cart</caption>
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <!-- <th scope="col">Image</th> -->
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">No. of Items</th>
          <th scope="col">Subtotal</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart; let i = index">
          <th scope="row">{{ i }}</th>
          <!-- <td>
            <img [src]="item.image" alt="product-image" width="100px" class="product-image img-shadow">
          </td> -->
          <td>
            {{ item.product.name }}
          </td>
          <td>
            {{ item.product.price | currency:'INR' }}
          </td>
          <td>
            <button class="btn btn-outline-danger no-bor-no-bg" *ngIf="item.quantity > 1"
              (click)="updateToCart(item.product, -1, item.quantity)">-</button>
            <button class="btn btn-outline-warning no-bor-no-bg" *ngIf="item.quantity === 1"
              (click)="removeFromCart(item.product)">-</button>
            <input type="text" class="quantity" id="quantity" [value]="item.quantity">
            <button class="btn btn-outline-success no-bor-no-bg" (click)="updateToCart(item.product, 1, item.quantity)">+</button>
          </td>
          <td>
            {{ item.product.price * item.quantity | currency:'INR' }}
          </td>
          <td>
            <button class="remove-btn" (click)="removeFromCart(item.product)">
              remove
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td><b>Total:</b></td>
          <td>{{ getTotal() | currency:'INR' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="btn btn-outline-success" (click)="checkout()"> continue shopping </button>
</div>

<div *ngIf="cart.length === 0">
  <p>Seems you don't have any items in your cart, please
    <a routerLink="/home" routerLinkActive="active"> continue shopping </a>
  </p>
  <div class="text-center">
    <img src="assets/empty-cart.png" alt="empty cart" class="empty-cart-img">
  </div>
</div>
