<div class="card" (click)="openProductDetail()">
  <img class="card-img-top img-shadow" [src]="product.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text text-right">{{ product.price | currency:'INR' }}</p>
  </div>
  <div class="footer">
    <div class="product-actions">
      <button class="btn btn-outline-warning add-to-cart-btn" (click)="addToCart(product)" *ngIf="!inCart">Add to <span class="text-cart">cart </span>
        <fa-icon [icon]="faCartPlus"></fa-icon>
      </button>
      <button class="btn btn-outline-danger  add-to-cart-btn" (click)="removeFromCart(product)" *ngIf="inCart">Remove
        <fa-icon [icon]="faCartArrowDown"></fa-icon>
      </button>
    </div>
  </div>
</div>
